@import './fonts.css';

.body {
    width: 100vw;
    height: 100vh;
    font-family: Roboto;
    margin: 0;
    color: #000000;
}

.header {
    margin-top: 20px;
    height: 867px;
    background: url("../images/header-background.jpg") no-repeat right;

}

h1, h2 {
    margin: 0;
}

.header-label {
    width: 680px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.container {
    padding: 0 340px;    
}

.main {

}

.block {

}

.title {

}

.text {

}

.logo-container {
display: inline-block ; 

}


.logo-title {

}

.button{ 
    width: 193px; ;
height: 52px;border-radius: 5px;
background-color: #FFFFFF;
border: none;
cursor: pointer;
border-radius: 5px;
font-weight: 400px;
font-size: 24px;


}
.title {
    font-weight: 500px;
    font-size: 64px;
    line-height: 75px;

}

.header-title {
    margin-top: 225px;
    font-weight: 700px;
    
}

.subtitle {
    font-weight: 400;
    font-size: 24px;

}
.header-subtitle {
    margin-top: 20px;
   
    
}