@import './fonts.css';

.body {
    width: 1920px;
    font-family: Roboto;
    
}

.header {
    margin-top: 20px;
    height: 867px;
    background: url("../images/header-background.jpg") no-repeat right;

}
.header-label{
    width: 680px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.container{
padding: 0 340px;    
}

.main{

}

.block {

}

.title {

}

.text {

}

.logo-container{
display: inline-block;   

}


.logo-title {

}

.button{ 
    width: 193px; ;
height: 52px;border-radius: 5px;
background-color: #FFFFFF;
border: none;
cursor: pointer;
border-radius: 5px;
font-weight: 400px;
font-size: 24px;


}
